<div class="container">
  <%= render 'header' %>
  <%= render 'skill' %>
  <%= render 'education' %>
  <%= render 'work' %>
  <%= render 'productions' %>
  <%= render 'footer' %>
  <script>
    $('.port-item').click(function(){
      $('.collapse').collapse('hide');
    });
  </script>
</div>
